/*custom font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/
* {margin: 0; padding: 0;}

html {
	height: 100%;
	/*Image only BG fallback*/

	/*background = gradient + image pattern combo*/
	background-color: #eeee ;
}

body {
	font-family: montserrat, arial, verdana;
}

header {
	width: 100%;
	height:75px;
	background-color: darkblue;
}

header p {
	padding:20px 10px;
	color: white;
	font-size: 30px;
}

/*form styles*/
#msform {
	width: 80%;
	margin: 50px auto 50px auto;
	text-align: center;
	position: relative;
}
#msform fieldset {
	background: #fff;
	border: 0 none;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	/*stacking fieldsets above each other*/
	position: relative;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}

.img {
	min-width: 40%;
	height: 600px;
	background-color: blue;
	float: left;
}

select {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 70%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
	width: 40%;
}

.country {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 100px;
	width: 70%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
	width: 40%;
}

/*inputs*/
#msform input, #msform textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 40%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}
/*buttons*/

input .next {
	width: 30px;
}

#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px darkblue;
	cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  top: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
 display: flex;
}

	/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
}


/*headings*/
.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
	padding-top: 20px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
	margin-left: 27%;
}
#progressbar li {
	list-style-type: none;
	color: darkblue;
	text-transform: uppercase;
	font-size: 12px;
	width: 30%;
	float: left;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 20px;
	color: #333;
	background: lightgrey;
	border-radius: 3px;
	padding:3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: lightgrey;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: darkblue;
	color: #ebebeb;
}
